@{
    ViewBag.Title = "Página principal";
}


<hgroup class="title">
    <h1>@ViewBag.Title.</h1>
    <h2>@ViewBag.Message</h2>
</hgroup>
<div>
    esto es una prueba <br />
    esto es una prueba <br />
    esto es una prueba <br />
    esto es una prueba <br />
    esto es una prueba <br />
    esto es una prueba <br />
    esto es una prueba <br />
    esto es una prueba <br />
    esto es una prueba <br />
</div>


